/* Try different box model properties below */
.pages__page {
  border: 2px solid #4491db;
  border-radius: 4px;
  width: 10px;
  background: #fff;
  height: 10px;
  margin: 10px;
  padding: 1px 15px 1px 15px;
}
