/* Try different box model properties below */
.site-header > p {
  color: white;
  margin-bottom: 3px;
}
p:first-child {
  text-align: center;
  font-size: 12px;
}
.messages > .message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
